@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="mt-4">
        <div class="mb-2">
            <a href="@Url.Action("Classify", "Mushroom")" class="btn btn-success btn-lg">Classify Mushroom</a>
        </div>
        <div id="viewMushroomsDiv" style="display: none;">
            <a href="@Url.Action("Index", "Mushroom")" class="btn btn-primary btn-lg">View Mushrooms Data</a>
        </div>
    </div>

    <div class="mt-4">
        <label>
            <input type="checkbox" id="extendedModeCheckbox" onchange="toggleViewMushroomsButton()" />
            Extended mode
        </label>
    </div>
</div>

<style>
    .btn {
        transition: background-color 0.3s, transform 0.3s;
    }

        .btn:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

    .btn-success:hover {
        background-color: #28a745;
        transform: scale(1.05);
    }
</style>

<script>
    function toggleViewMushroomsButton() {
        const checkBox = document.getElementById("extendedModeCheckbox");
        const viewMushroomsDiv = document.getElementById("viewMushroomsDiv");
        viewMushroomsDiv.style.display = checkBox.checked ? "block" : "none";
    }
</script>
